<div class="container text-left">
    <div class="input-group mb-2">
        <img src="static/img/git.png" class="kan-img-logo">
        <span class="input-group-text kan-text-300px-width"> {{ APP_VERSION }} </span>
    </div>
    <div class="input-group mb-2">
        <img src="static/img/name.png" class="kan-img-logo">
        <span class="input-group-text kan-text-300px-width">{{ HOSTNAME }}</span>
    </div>
    <div class="input-group mb-2">
        <img src="static/img/iface.png" class="kan-img-logo">
        <span class="input-group-text kan-text-300px-width"> {{ POD_IP }} </span>
    </div>
</div>

<div class="container text-center">
    <br>
    <a class="btn bg-kan-indigo" href="/register.html">Register</a>
    <a class="btn bg-kan-indigo" href="integrate.html">Checkout Registred</a>
</div>